div.tile {
		border: 1px solid black;
		width: 62px;
		height: 62px;
		margin: 2px 2px 2px 2px;
		font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
		display: inline-block;
		font-size: 2rem;
		line-height: 2rem;
		font-weight: bold;
		vertical-align: middle;
		box-sizing: border-box;
		text-transform: uppercase;
        box-sizing: border-box;
		padding: 16px;
		text-align: center;
		text-align: middle;
}