

/** game **/
  .toaster {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none;
    width: fit-content;
  }
  #game-toaster {
    z-index: 1000;
  }
  #system-toaster {
    z-index: 4000;
  }

  #game {
    width: 100%;
    max-width: var(--game-max-width);
    margin: 0 auto;
    height: calc(100% - var(--header-height));
    display: flex;
    flex-direction: column;
  }
  
  

   #board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
  }
  

  #board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding:10px;
    box-sizing: border-box;
  }
  

    

   

